<aside class="w-[66px] h-full bg-white shadow-md flex flex-col items-center justify-between py-28">

  <nav class="flex flex-col items-center gap-10 text-black">

    <a routerLink="/dashboard">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
        <rect x="3" y="3" width="7" height="7" rx="2"></rect>
        <rect x="14" y="3" width="7" height="7" rx="2"></rect>
        <rect x="3" y="14" width="7" height="7" rx="2"></rect>
        <rect x="14" y="14" width="7" height="7" rx="2"></rect>
      </svg>
    </a>

    <a routerLink="/assigned-duties">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
        <circle cx="12" cy="7" r="4"></circle>
        <path d="M4 21c0-4 3.5-7 8-7s8 3 8 7"></path>
      </svg>
    </a>

    <a routerLink="/swap-request">
      <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.4">
        <path d="M16 3l4 4-4 4"></path>
        <path d="M4 7h16"></path>
        <path d="M8 21l-4-4 4-4"></path>
        <path d="M20 17H4"></path>
      </svg>
    </a>

    <a routerLink="/duty-history">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
        <circle cx="12" cy="12" r="10"></circle>
        <rect x="11" y="6" width="2" height="7" fill="white"></rect>
        <rect x="12" y="12" width="6" height="2" fill="white"></rect>
      </svg>
    </a>

  </nav>

  <button class="text-black">
    <svg width="26" height="26" viewBox="0 0 24 24" fill="currentColor">
      <path d="M10 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h5v-3H6V6h4V3z"></path>
      <path d="M15 7l5 5-5 5v-3H9v-4h6V7z"></path>
    </svg>
  </button>

</aside>