<header class="h-[54px] bg-white border-b border-[#e5e7eb] flex items-center justify-between px-5">

  <div class="w-[180px] flex items-center">
    <img src="assets/images/usys-logo.jpeg" alt="USYS" class="w-[75px] h-auto" />
  </div>

  <div class="flex-1 flex justify-center">
    <img src="assets/images/kju-logo.jpeg" alt="KJU" class="h-[40px] object-contain" />
  </div>

  <div class="w-[270px] flex items-center justify-end gap-5">

    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
      <path d="M12 22a2.5 2.5 0 002.5-2.5h-5A2.5 2.5 0 0012 22z"></path>
      <path d="M18 16v-5a6 6 0 10-12 0v5l-2 2v1h16v-1z"></path>
    </svg>

    <svg width="21" height="21" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19.4 13.5c.1-.5.1-1 .1-1.5s0-1-.1-1.5l2.1-1.6-2-3.5-2.5 1a8.2 8.2 0 00-2.6-1.5L14 2h-4l-.4 2.9A8.2 8.2 0 007 6.4l-2.5-1-2 3.5 2.1 1.6A9.7 9.7 0 004.5 12c0 .5 0 1 .1 1.5l-2.1 1.6 2 3.5 2.5-1a8.2 8.2 0 002.6 1.5L10 22h4l.4-2.9a8.2 8.2 0 002.6-1.5l2.5 1 2-3.5-2.1-1.6zM12 15.5A3.5 3.5 0 1112 8a3.5 3.5 0 010 7.5z"></path>
    </svg>

    <!-- Faculty -->
    <div *ngIf="!isAdminRoute()" class="h-[36px] min-w-[135px] bg-[#143f9f] rounded-full flex items-center gap-2 px-2 text-white">
      <div class="w-[30px] h-[30px] rounded-full bg-[#1f2937] flex items-center justify-center text-[13px] font-bold">
        SJ
      </div>
      <div class="leading-tight">
        <p class="text-[12px] font-bold">Dr.sarah jacob</p>
        <p class="text-[10px]">Department of cs</p>
      </div>
    </div>

    <!-- Admin -->
    <div *ngIf="isAdminRoute()" class="h-[32px] w-[190px] bg-[#143f9f] rounded-full flex items-center gap-3 px-3 text-white">
      <div class="w-[30px] h-[30px] rounded-full bg-[#210000]"></div>
      <p class="text-[15px] font-bold">Abin Xavier</p>
    </div>

  </div>

</header>