<section class="min-h-full bg-[#fafafd] px-[74px] pt-[22px]">
  <h1 class="text-[42px] font-bold text-black">
    Duty Swap Request
  </h1>

  <div class="mt-[88px] ml-[43px] w-[1040px] border-b border-gray-200 flex items-end gap-10">
    <a
      routerLink="/received-request"
      class="w-[185px] h-[42px] bg-[#e9efff] border-b-2 border-blue-600 flex items-center justify-center text-[13px] text-blue-600 font-medium">
      Received Request
    </a>

    <a
      routerLink="/swap-request"
      class="w-[160px] h-[42px] flex items-center justify-center text-[13px] text-gray-500">
      Request New Swap
    </a>
  </div>

  <div class="mt-[38px] ml-[43px] w-[1035px] h-[190px] bg-[#e7eeff] rounded-[16px] flex items-center px-[28px]">

    <div class="w-[70px]">
      <img
        src="assets/images/Avatar.jpg"
        class="w-[48px] h-[48px] rounded-full object-cover"
        alt="Faculty"
      />
    </div>

    <div class="flex-1">
      <h2 class="text-[31px] font-medium text-black mb-[20px]">
        Dr. maria william
      </h2>

      <p class="text-[22px] leading-[27px] text-black">
        Exam Duty - 22 may 2026<br />
        9:00 AM - 12:00 PM<br />
        Block A 101<br />
        REASON : I have a meeting
      </p>
    </div>

    <div class="flex items-center gap-[24px] mr-[22px]">
      <button class="w-[120px] h-[38px] bg-[#0aa000] text-white rounded-[7px] text-[22px]">
        Accept
      </button>

      <button class="w-[112px] h-[38px] bg-[#c00000] text-white rounded-[7px] text-[22px]">
        Reject
      </button>
    </div>

  </div>
</section>