<section class="dashboard-page">
  <div class="welcome-section">
    <h1>Welcome back,&nbsp; Dr. Sarah Jacob</h1>
    <p>Here’s your duty overview for today</p>
  </div>

  <div class="cards-wrapper">
    <app-dashboard-card title="Assigned Duties" count="00" iconType="calendar"></app-dashboard-card>
    <app-dashboard-card title="Upcoming Duties" count="00" iconType="clock"></app-dashboard-card>
    <app-dashboard-card title="Swap Request" count="00" iconType="swap"></app-dashboard-card>
  </div>
</section>