<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %M - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="log/kjusys-microservice-base.log"
                     filePattern="log/kjusys-microservice-base-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="log/" maxDepth="2">
                    <!--  Delete all files older than 60 days  -->
                    <IfLastModified age="60d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="in.edu.kristujayanti" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.mongodb" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.vertx" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>